services:
  gateway:
    build:
      context: .
      dockerfile: services/gateway_service/Dockerfile
    container_name: swimbuddz_gateway
    env_file:
      - .env.dev
    # depends_on:
    #   - db  <-- Removed because we will use Supabase CLI's Postgres
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway" # Allow access to host's Supabase (localhost)
    command: >
      uvicorn services.gateway_service.app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    volumes:
      - .:/app

volumes:
  swimbuddz_db_data:
